<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
	<head>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="false" />
		<meta name="mssmarttagspreventparsing" content="true" />
		<meta name="robots" content="all" />
			
		<meta name="author" content="Robert R Evans" />
		<meta name="copyright" content="Copyright 1999-2008 Robert R Evans -- Code Wranglers, Inc." />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<link rel="search" type="application/opensearchdescription+xml" href="" title="" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		
		<!--
			You can Change the StyleSheet below to whatever type of Highlighting you want.
			Also you can add your own stylesheets here. Make sure that your stylesheets are located in
			../layout/stylesheets/
			
			They'll be picked up in that directory when you are creating your PDF Book
		-->
		<link rel='stylesheet' href='../layout/stylesheets/highlight/lazy.css' type='text/css' media='screen, projection' />
		
		<title></title>
	</head>
	<body>
		
		<div class="frontcover"></div>
		<div id="body">
			
			#body
			
		</div>
		<div class="backcover"></div>
		
	</body>
</html>
